@import url(reset.css);
@import url(style.css);
@import url(utils.css);
@import url(content.css);
@import url(buttons.css);
@import url(index-mobile.css);
@import url(index-tablet.css);
@import url(index-desktop.css);

@keyframes cafe-bg-h-slide{
    from{ background-position: center;}
    33%{ background-position: left center;}
    66%{ background-position: right center;}
    to{background-position: center;}
}

@keyframes cafe-bg-v-slide{
    from{ background-position: center;}
    33%{ background-position: center top;}
    66%{ background-position: center bottom;}
    to{background-position: center;}
}
